<div class="form-wrapper">
  <div class="quote-intro">
    <h3 class="text-center">
      <em>"</em> The Wisdom of the wise and the experience of ages ,may be
      preserved by quotation <em>"</em>
    </h3>
    <h4 class="btn btn-outline-success mb-4 text-center">Add Qoute</h4>
  </div>
  <form
    #quoteForm="ngForm"
    (ngSubmit)="quoteForm.form.valid && submitQuote(); quoteForm.resetForm({})"
  >
    <div class="mb-3">
      <label for="quoteTitle" class="form-label">Quote Title</label>
      <input
        type="text"
        class="form-control"
        id="quoteTitle"
        [(ngModel)]="newQuote.quoteTitle"
        name="quoteTitle"
        #quoteTitle="ngModel"
        placeholder="Add Quote title"
        required
        [ngClass]="{
          'border-danger': quoteTitle.pristine && quoteTitle.valid
        }"
      />
    </div>
    <div class="mb-3">
      <label for="quote" class="form-label">Quote</label>
      <textarea
        id="quote"
        type="text"
        class="form-control"
        cols="30"
        rows="4"
        [(ngModel)]="newQuote.quoteText"
        name="  quoteText"
        #quote="ngModel"
        placeholder="Add Quote"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="quoteAuthor" class="form-label">Quote Author</label>
      <input
        type="text"
        class="form-control"
        id="quoteAuthor"
        [(ngModel)]="newQuote.authorName"
        name="authorName"
        #authorName="ngModel"
        placeholder="Add author name"
      />
    </div>
    <div class="mb-3">
      <label for="userName" class="form-label">Your Name</label>
      <input
        type="text"
        class="form-control"
        id="userName"
        [(ngModel)]="newQuote.userName"
        name="userName"
        #userName="ngModel"
        placeholder="Add your name"
      />
    </div>

    <button type="submit" class="btn btn-outline-success">Submit</button>
  </form>
</div>
