<div class="form-wrapper">
  <h3 class="text-center">Add Quote</h3>
  <form>
    <div class="mb-3">
      <label for="quoteTitle" class="form-label">Quote Title</label>
      <input
        type="text"
        class="form-control"
        id="quoteTitle"
        [(ngModel)]="newQuote.quoteTitle"
        name="name"
        #name="ngModel"
        placeholder="Add todo"
        required
      />
    </div>
    <div class="mb-3">
      <label for="quoteTitle" class="form-label">Quote</label>
      <textarea type="text" class="form-control" cols="30" rows="4"></textarea>
    </div>
    <div class="mb-3">
      <label for="quoteTitle" class="form-label">Quote Author</label>
      <input type="text" class="form-control" id="quoteTitle" />
    </div>
    <div class="mb-3">
      <label for="quoteTitle" class="form-label">Your Name</label>
      <input type="text" class="form-control" id="quoteTitle" />
    </div>

    <button type="submit" class="btn btn-outline-success">Submit</button>
  </form>
</div>
