<div class="form-wrapper">
  <div class="quote-intro">
        <h4 class="mb-2 text-center text-white">Add Qoute</h4>
    <h5 class="text-center mb-3">
      <em>"</em> The Wisdom of the wise and the experience of ages ,may be
      preserved by quotation <em>"</em>
    </h5>

  </div>
  <form
    #quoteForm="ngForm"
    (ngSubmit)="
      quoteForm.form.valid && submitQuote();
      quoteForm.resetForm({});
      closeModal()
    "
  >
    <div class="mb-3">
      <label for="quoteTitle" class="form-label">Add Quote title</label>
      <input
        type="text"
        class="form-control"
        id="quoteTitle"
        [(ngModel)]="newQuote.quoteTitle"
        name="quoteTitle"
        #quoteTitle="ngModel"
      
        required
        [ngClass]="{
          'border-danger': quoteTitle.pristine && quoteTitle.valid
        }"
      />
    </div>
    <div class="mb-3">
      <label for="quote" class="form-label">Add Quote</label>
      <textarea
        id="quote"
        type="text"
        class="form-control"
        cols="30"
        rows="4"
        [(ngModel)]="newQuote.quoteText"
        name="  quoteText"
        #quote="ngModel"
      
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="quoteAuthor" class="form-label">Add author name</label>
      <input
        type="text"
        class="form-control"
        id="quoteAuthor"
        [(ngModel)]="newQuote.authorName"
        name="authorName"
        #authorName="ngModel"
      
      />
    </div>
    <div class="mb-3">
      <label for="userName" class="form-label">Add your name</label>
      <input
        type="text"
        class="form-control"
        id="userName"
        [(ngModel)]="newQuote.userName"
        name="userName"
        #userName="ngModel"
    
      />
    </div>

    <button type="submit" class="btn btn-outline-success">Submit</button>
  </form>
</div>
