<div class="container-fluid main-wrapper">
  <nav class="navbar navbar-expand-lg text-white mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        >A-quotes
        <span class="icon">
          <img src="../../assets/img/logo.png" alt="" />
        </span>
      </a>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="btn newBtn"
            aria-current="page"
            href="#"
            (click)="open(content)"
            >+ New Quote
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid app-wrapper">
    <app-quotes-list [quotes]="quotes"></app-quotes-list>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body">
    <app-quotes-form
      (addQuote)="addNewQuote($event)"
      (close)="modal.close()"
    ></app-quotes-form>
  </div>
</ng-template>
