.main-wrapper {
  height: 100%;
  color: #fff;
}

.navbar {
  background-color: #111111 !important;
}

.navbar a {
  color: #fff;
}

.newBtn {
  border-left: 1px solid #fff;
  margin-right: 15px;
  transition: 0.5s all;
  font-size: 18px;
}
.newBtn:hover {
  border: 1px solid #111111;
}

.navbar .navbar-brand {
  font-size: 35px;
}

.app-wrapper {
  width: 100%;

  padding: 10px;
}
