/* font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

.main-wrapper {
  height: 100%;
  color: #fff;
}

.navbar {
  background-color: #111111 !important;
  width: 100vw;
  padding: 0px 20px;
}

.navbar a {
  color: #fff;
}

.navbar .navbar-brand {
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.app-wrapper {
  width: 100%;
  padding: 10px;
}

.modal-body {
  width: 100%;
  color: #fff;
  background-color: #191919 !important;
}


footer{
  position: absolute;
  bottom: 0;
}