.main-wrapper {
    height: 100%;
  color: #fff;
}

.navbar {
  /* padding: 2px !important; */
  background-color: #111111 !important;
  /* border-radius: 20px; */
  
}

.navbar a {
  color: #fff;
}

.newBtn {
  border-left: 1px solid #fff;
  margin-right: 15px;
  transition: 0.5s all;
  font-size: 18px;
}
.newBtn:hover {
  border: 1px solid #111111;
}

.navbar .navbar-brand {
  font-size: 35px;
}

.app-wrapper {
  width: 100%;
  /* background-color: aqua !important; */
  padding: 10px;
}
.col-md-8 {
  /* background-color: rgb(38, 0, 255) !important; */
}
.col-md-4 {
  /* background-color: rgb(51, 255, 0) !important; */
}
/* .col-md-4 {
  position: fixed;
  top: 15;
  left: 0;
  width: 500px;
  height: 100%;
  background-color: azure;
  display: none;
} */


/* .quote-list {
  height: 100vh;
  flex: 2 1 auto;
} */

