<div class="container-fluid main-wrapper">
  <nav class="navbar navbar-expand-lg text-white mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">A-quotes</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <!-- <a class="btn newBtn" aria-current="page" href="#">+ New Quote </a> -->
          <a
            class="btn newBtn"
            aria-current="page"
            href="https://github.com/MugeraH/A-quote"
            >Github
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid app-wrapper">
    <div class="row">
      <div class="col-md-4 quote-form mb-5">
        <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
      </div>
      <div class="col-md-8 quote-list">
        <app-quotes-list [quotes]="quotes"></app-quotes-list>
      </div>
    </div>
  </div>
</div>
