
@import "~bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Pacifico&family=Roboto:ital@1&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.5s all;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-color: #191919;
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  padding: 0;
  margin: 0;
}
.icon img {
  height: 32px;
}
.newBtn {
  border: 1px solid #fff;
  margin-right: 15px;
  transition: 0.5s all;
  font-size: 18px;
}
