<div class="quote-container" [style.border-color]="quote.color">
  <div class="quote-wrapper">
    <div class="title">
      <div class="quote-title">
        <div class="title-text">
          {{ quote.quoteTitle }}
          <span class="icon">
            <img
              src="../../assets/img/star.png"
              *ngIf="quote.isFavorite"
              alt=""
              class="fav-icon"
            />
          </span>
        </div>

    
      </div>
    
      <div class="icon">
        <div class="details-button">
          <button
            class="btn btn-outline-dark text-white"
            *ngIf="!quote.showDetails"
            (click)="toggleShowDetails()"
          >
            Show More
          </button>
          <button
            class="btn btn-outline-dark text-white"
            *ngIf="quote.showDetails"
            (click)="toggleShowDetails()"
          >
            Show Less
          </button>
        </div>
      </div>
    </div>
<hr [style.background-color]="quote.color" />
    <div class="main-quote">
      <p *ngIf="!quote.isFavorite" class="text-center">
        <em>"</em> {{ quote.quoteText }} <em>"</em>
      </p>
      <p *ngIf="quote.isFavorite" appHighestUpvote class="text-center">
        <em>"</em> {{ quote.quoteText }} <em>"</em>
      </p>
    </div>
    <div class="quote-author">
      <div class="author mt-2 mr-3">- {{ quote.authorName }}</div>
    </div>
  </div>
  <div class="quote-details mt-3" *ngIf="quote.showDetails">
    <app-quote-item-details
      [quote]="quote"
      (like)="upvote(); popularQuotes()"
      (dislike)="downvote()"
      (delete)="deleteQuote($event)"
    ></app-quote-item-details>
  </div>
</div>
