<div class="quote-container">
  <div class="quote-wrapper">
    <div class="title">
      <div class="quote-title">{{ quote.quoteTitle }}</div>
      <div class="icon">
        <img src="../../assets/img/trash.png" alt="" />
      </div>
    </div>
    <div class="qoute">
      <p>
        {{ quote.quote }}
      </p>
    </div>
    <div class="quote-author">
      <div class="author">Albert Cool</div>
      <div class="posted-date">posted 591 days ago</div>
    </div>
    <div class="details-button">
      <button class="btn btn-outline-primary mt-3 ml-auto">Show More</button>
      <button class="btn btn-outline-primary" hidden>Less</button>
    </div>
  </div>
  <div class="quote-details mt-3">
    <app-quote-item-details [quote]="quote"></app-quote-item-details>
  </div>
</div>
